.container {
    flex: 1;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    /* align-items: flex-start; */
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28pt;
}

.button {
    background-color: cadetblue;
    color: #fff;
    font-size: 18pt;
    width: 120px;
    height: 40px;
    border-radius: 8px;
}

.speechText {
    font-size: 18pt;
    min-height: 30px;
}